<!--Made by the Team of Two, more things coming soon!-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming soon...</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
</head>
<body>
    <div id="light-container"></div>
    <div class="frosted-glass">
        <div class="content">
            We're currently <span id="dynamic-word">developing</span>
        </div>
    </div>
    <footer> <span>by the</span> <span id="team-of-two">Team of Two</span> </footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

